# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Netlify
.netlify/

# Temporary files & logs
*.tmp
*.log
.tempmediaStorage/
.system_generated/

